.postImage{

}
.noImg{
    font-size: 2rem;
    text-align: center;
    color: lightsteelblue;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    transform: rotate(330deg);
    /* padding: 1rem;*/
}