.container{
    /* border: 1px solid; */
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    border: 5px solid;
    background-color: var(--bg);
}

.container:nth-child(odd){
    border-color: var(--text) transparent transparent var(--text) ;
    border-top-left-radius: 12px;
}
.container:nth-child(even){
    border-color: var(--text) var(--text) transparent transparent ;
    border-top-right-radius: 12px;
}

/* image left */

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    height: 100%;
    justify-content: space-evenly;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
}


.link{
    color: var(--linkColor);
    letter-spacing: 0.08rem;
}
.link:hover{
    color: black;
}

@media (max-width:991px){
    
}
@media (max-width:767px){
    .container{
        padding: 0.3rem;
        gap: 0.5rem;
    }
    .container div:nth-child(1){
        display: none;
    }
    .title{
        font-size: calc(0.8rem + 1vw); 
   }
}